
.matchCard {
    width:100%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.matchImage {
    float: left;
    vertical-align: top;
}

.textclass {
    padding: 2em;
    float:left;
    width:300px;
    height:20px;
    vertical-align: top;
}